.App {
  text-align: center;
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Header start */
.header{
  font-size:4rem;
  background-color:black;
  color:white;
  padding:0px;
  display:flex;
  flex-direction:horizontal;
  justify-content: space-between;
  align-items: center;
  /* border-radius:5px;
  
  margin-left:20px;
  margin-right:20px; */
  /* margin-bottom:20px; */
  font-family: 'Neucha', cursive;
}
.headerPic{
  width:20%;
}
.headerPic1{
  width:40%;
}
.headerPic2{
  width:40%;
  
}
.musings{
  color:#a089e4;
}

.se{
  color:#7befe5;
}

.journey{
  color:#fd6085;
}

/* Header stop */

/* Blog start */
.container{
  
  display:grid;
  grid-template-areas:
  'feature feature feature side-bar'
  'mini-features mini-features mini-features side-bar'
  'main main main side-bar'
  'main main main side-bar';
}
.grid-item-1{
  grid-area:feature;
  /* background-color:green; */
}
.grid-item-2{
  grid-area:side-bar;
  /* background-color:purple; */
}
.grid-item-3{
  grid-area:mini-features;
  /* background-color:yellow; */
}
.grid-item-4{
  grid-area:main;
  /* background-color:aqua; */
}

 .grid-item-2{
  /* border-left:black solid 15px; */
  background-color:#a089e4;
  /* color:white; */
  font-weight:500;
  font-size:1.3rem;
 }

.featureContainer{
  white-space:pre-line;
}

.miniSec{
  
  display:flex;
  flex-direction:horizontal;
  justify-content: space-between;
  padding:20px;
  /* border: #7befe5 solid 15px;
  border-radius:5px;
  margin:5px; */
}

.miniFeat{
  width:30%;
 margin:10px;
}
.miniFeatPicBox{
  width:100%;
}

.miniImg{
  width:100%;
  border-radius:5px;
}
.reg{
  padding:20px;
}
.regBlogList{
  border: black 3px solid;
  margin:5px;
  border-radius:5px;
  padding:10px;
  
}
.grid-item-2{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.aboutMePicBox{
  width:100%;
  margin-top:20px;
  margin-bottom:40px;
}
.aboutPic{
width:50%;
border-radius:50%;

}
.linkBox{
  width:50%;
  margin-top:50px;

}
.linkImg{
  width:30%;
}
.aboutStuff{
  padding:30px;
}

.featLink{
  position:relative;
  bottom:35px;
  left:15%;
  
  
}
/* Blog stop */


/* Feature Blog start */
.featBlogContainer{
  display:flex;
  flex-direction:horizontal;
  align-items:center;
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:0px;
  
}
.container a:link{
  color:#fd6085;
}
.container a:visited{
  color:#a089e4;
}
.container a:hover{
  color:#a089e4;
}
.container a:active{
  color:#7befe5;
}
.featBlogPicBox{
  width:80%;
  margin:10px;
}
.featPic{
  width:100%;
  border-radius:5px;
}
/* Feature Blog stop */

/* Blog Detail start */
.blogDetailContainer{
  display:flex;
  flex-direction:column;

background-color:white;
width:100%;
height:100%;
white-space:pre-line;
width:80%;
margin-left:auto;
margin-right:auto;
font-size:1.5rem;
}
.detailTitle{
  color:#a089e4;
  font-size:3rem;
}
.detailDate{
  color:#fd6085;

}
.exitDetail{
  align-self: flex-end;
  width:5%;
}
.exitBox{
  width:20%;
}
/* Blog Detail stop */