.App {
  text-align: center;
 
  width:100%;
  height:100%;
}

body{
  background-color:black;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Header start */
.header{
  font-size:4rem;
  background-color:black;
  color:white;
  padding:0px;
  display:flex;
  flex-direction:horizontal;
  justify-content: space-between;
  align-items: center;
  font-family: 'Neucha', cursive;
}
.headerPic{
  width:20%;
}
.headerPic1{
  width:40%;
}
.headerPic2{
  width:40%;
  
}
.musings{
  color:#a089e4;
}

.se{
  color:#7befe5;
}

.journey{
  color:#fd6085;
}

/* Header stop */

/* Blog start */
.container{
  
  display:grid;
  grid-template-areas:
  'feature feature feature side-bar'
  'mini-features mini-features mini-features side-bar'
  'main main main side-bar'
  'main main main side-bar';
  background-color:white;
}
.featureLittleBox{
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  padding-right:10%; 


}
.addBlog{
  /* width:20%; */
  background-color:#fd6085;
  color:white;
  border-radius:50px;
  font-size:1.5rem;
}
.grid-item-1{
  grid-area:feature;
  /* background-color:green; */
}
.grid-item-2{
  grid-area:side-bar;
  /* background-color:purple; */
}
.grid-item-3{
  grid-area:mini-features;
  /* background-color:yellow; */
}
.grid-item-4{
  grid-area:main;
  /* background-color:aqua; */
}

 .grid-item-2{
  /* border-left:black solid 15px; */
  background-color:#a089e4;
  /* color:white; */
  font-weight:500;
  font-size:1.3rem;
 }

.featureContainer{
  white-space:pre-line;
}

.miniSec{
  
  display:flex;
  flex-direction:horizontal;
  justify-content: space-between;
  padding:20px;
}

.miniFeat{
  width:30%;
 margin:10px;
}
.miniFeatPicBox{
  width:100%;
}

.miniImg{
  width:100%;
  border-radius:5px;
}
.reg{
  padding:20px;
}
.regBlogList{
  border: black 3px solid;
  margin:5px;
  border-radius:5px;
  padding:10px;
  
}
.grid-item-2{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.aboutMePicBox{
  width:100%;
  margin-top:20px;
  margin-bottom:40px;
}
.aboutPic{
width:50%;
border-radius:50%;

}
.linkBox{
  width:50%;
  margin-top:50px;

}
.linkImg{
  width:30%;
}
.aboutStuff{
  padding:30px;
}

.featLink{
  /* position:relative;
  bottom:35px;
  left:15%; */
  margin-right:13%;
}
/* Blog stop */


/* Feature Blog start */
.featBlogContainer{
  display:flex;
  flex-direction:horizontal;
  align-items:center;
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:0px;
  
}
.container a:link{
  color:#fd6085;
}
.container a:visited{
  color:#a089e4;
}
.container a:hover{
  color:#a089e4;
}
.container a:active{
  color:#7befe5;
}
.featBlogPicBox{
  width:100%;
  margin:10px;
}
.featPic{
  width:100%;
  border-radius:5px;
}
/* Feature Blog stop */

/* Blog Detail start */
.blogDetailContainer{
width:100%;
height:100%;
background-color:black;


}
.detailHolder{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width:80%;
  white-space:pre-line;
  margin-left:auto;
  margin-right:auto;
  font-size:1.5rem;
  white-space:pre-line;
  background-color:white;
  border:#7befe5 10px solid;
 
 
}
.blogDetailImgBox{
   width:70%; 
  
}
.bigBlogImgs{
  width:100%;
}
.blogDetailImg{
  width:80%;
}
.detailTitle{
  color:#a089e4;
  font-size:3rem;
  width:100%;
}
.detailEntry{
  width:80%;
}
.detailDate{
  color:#fd6085;
  width:100%;
}
.titleBox{
  background-color:black;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:flex-end;
  border:#7befe5 10px solid;
  margin-bottom:25px;
  border-radius:5px;
}
.exitDetail{
  align-self: flex-end;
  width:80%;
}
.exitBox{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  align-items: center;
}

.updateBtn{
  width:60px;
  height:30px;
  background-color:#fd6085;
  color:white;
  width:100px;
  border-radius:15px;
  font-size:1.3rem;
 
}
/* Blog Detail stop */

/* Media Queries */
@media(max-width: 1399px){
  .featLink{
    position:relative;
    bottom:10px;
    left:15%;
  }
  .featBlogPicBox{
    width:60%;
    margin:10px;
  }
  .featPic{
    width:100%;
    border-radius:5px;
  }
  .featBlogPrev{
    width:60%;
  }
  .featureLittleBox{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    padding-right:5%; 
  }
  .featLink{
    margin-right:20%;
  }
}
@media(max-width: 800px){
  .container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
  }

  .aboutMePicBox{
    width:40%;
    margin-top:20px;
    margin-bottom:0;
  }
  .aboutPic{
  width:70%;
  border-radius:50%;
  
  }
  .linkBox{
    width:30%;
    margin-top:5px;;
  
  }
  .linkImg{
    width:30%;
  }
  .grid-item-2{
    width:90%;
  }
  .aboutStuff{
    padding-left:50px;
    padding-right:50px;
    padding-bottom:2px;
    padding-top:2px;
  }
  .headerPic{
    display:none;
  }
  .featBlogContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:0px;
    
  }
  .featBlogPicBox{
    width:100%;
  }
  .featBlogPrev{
    width:90%;
  }
  .miniSec{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:20px;
  }
  .miniFeat{
    width:100%;
  }
  .exitDetail{
    width:15%;
  }
  .blogDetailImgBox{
    width:100%; 
   
 }
 .blogDetailImg{
  width:100%;
}
.featureLittleBox{
  margin-right:auto;
  margin-left:auto;
  margin-bottom:20px;
}
.exitDetail{
  align-self: flex-end;
  width:85%;
}
}
